.calculatorHeader {
    background-color: #7030A0;
    color: white;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 98%;
}

.calculatorList {
    font-size: 99%;
    width: 640px;
}

.calculatorTable {
    border-spacing: 12px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.calculatorWrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 98%;
}

.devisBody {
    border: 2px solid #7030A0;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 1.1em;
    min-height: 1307px;
    position: relative;
    width: 924px;
}

.devisBox {
    border-bottom: 2px solid #7030A0;
    border-top: 2px solid #7030A0;
    font-style: italic;
    padding: 6px 2px;
    width: 920px;
}

.devisBoxDisclaimer {
    border-top: 2px solid #7030A0;
    bottom: 0;
    font-style: italic;
    padding: 6px 2px;
    position: absolute;
    text-align: center;
    width: 920px;
}

.devisH1 {
    color: #7030A0;
    font-size: 3.2em;
    font-style: italic;
}

.devisHeader {
    border-bottom: 2px solid #7030A0;
    display: table;
    padding: 6px 2px;
    width: 920px;
}

.devisHeaderCentral {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 38%;
}

.devisHeaderLeft {
    display: table-cell;
    vertical-align: top;
    width: 30%;
}

.devisHeaderRight {
    display: table-cell;
    width: 32%;
}

.devisListHeader {
    font-weight: bold;
}

.devisListRow {
    font-weight: normal;
}

.devisPriceBox {
    background-color: #7030A0;
    color: white;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    padding: 6px 30px 10px 2px;
    text-align: right;
}

.devisTable {
    border-bottom: 1px solid #A6A6A6;
    border-collapse: collapse;
    border-right: 1px solid #A6A6A6;
    border-spacing: 0;
    width: 924px;
}

    .devisTable td {
        border: 1px solid #A6A6A6;
        font-style: italic;
        padding: 6px 2px;
        width: 50%;
    }
    
    .devisDetailsTable {
        border-bottom: 1px solid #A6A6A6;
        border-collapse: collapse;
        border-spacing: 0;
        width: 924px;
    }
    
        .devisDetailsTable tr {
            border-bottom: 1px solid #A6A6A6;
        }
    
        .devisDetailsTable tr:last-child {
            border-bottom: none;
        }
    
        .devisDetailsTable td, .devisDetailsTable th {
            padding: 1px 4px;
        }
        
        .devisDetailsTable th:first-child {
            background-color: #7030A0;
            color: white;
            text-align: left;
            width: 87%;
        }
    
        .devisDetailsTable th:last-child {
            background-color: #7030A0;
            border-left: 1px solid #A6A6A6;
            color: white;
            text-align: center;
            width: 13%;
        }
    
        .devisDetailsTable td:first-child {
            font-style: italic;
            text-align: left;
            width: 87%;
        }
    
        .devisDetailsTable td:last-child {
            border-left: 1px solid #A6A6A6;
            text-align: center;
            width: 13%;
        }
    

.errorMessage {
    color: red;
}

.italic {
    font-style: italic;
}

.italicBold {
    font-style: italic;
    font-weight: 600;
}

.purple {
    color: #7030A0;
}
